.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}
mat-list-item {
  width: 240px;
}
.example-sidenav {
  display: flex;
  width: 240px;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.left-sidenav-link {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .9rem;
  
  line-height: 2.1rem;
}
.left-sidenav-header {
  height: 56px;
display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  position: relative;
}
.left-sidenav {
  width: 240px;
  border-right: 1px solid rgba(0,0,0,.14);
}
.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}