<mat-toolbar class="example-header">Header</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav class="left-sidenav" #sidenav mode="side" opened="true" class="example-sidenav" fixedInViewport="true" fixedTopGap="0"
    fixedBottomGap="0">
    <mat-nav-list>
      <mat-list-item>
         <a matLine href="#">jojijoijoojoi</a>
      </mat-list-item>
      <mat-list-item>
        <a matLine href="#">jojijoijoojoi</a>
     </mat-list-item>
     <mat-list-item>
      <a matLine href="#">jojijoijoojoi</a>
   </mat-list-item>
   <mat-list-item>
    <a matLine href="#">jojijoijoojoi</a>
 </mat-list-item>
 <mat-list-item>
  <a matLine href="#">jojijoijoojoi</a>
</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <p>
      <button mat-button (click)="sidenav.toggle()">Toggle</button>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="example-footer">Footer</mat-toolbar>